html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, embed, iframe, object, audio, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  width: 600px;
  max-width: 95%;
  margin: 0 auto;
}

nav {
  background-color: #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav a {
  padding: 20px;
  color: black;
  text-decoration: none;
}

nav a:hover {
  background-color: #cccccc;
}

nav .current-page {
  background-color: #cccccc;
}

h1 {
  font-size: 2rem;
  margin: 1rem 0;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.post {
  width: 100%;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.post a {
  font-weight: 700;
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
  color: black;
  text-decoration: none;
}

.post span {
  font-size: 0.8rem;
  color: #555;
}

.create-post__container {
  width: 100%;
}

.form {
  width: 400px;
}

.form,
.create-post__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.form input[type="text"],
.form input[type="password"],
.form textarea,
.create-post__container input[type="text"],
.create-post__container input[type="password"],
.create-post__container textarea {
  padding: 10px;
  background-color: #dddddd;
  border: none;
  border-radius: 2px;
}

.form textarea,
.create-post__container textarea {
  resize: vertical;
}

.form button,
.create-post__container button {
  padding: 10px;
  background-color: #4e5aff;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  border-radius: 2px;
}

.form label,
.create-post__container label {
  margin-top: 20px;
  margin-bottom: 10px;
}

#profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 40px;
}

#profile::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -20px;
  left: 0px;
  background-color: #cccccc;
}

#profile span {
  margin-bottom: 10px;
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */