@import "reset";

$medium-gray: #cccccc;
$light-gray: #dddddd;

body {
  font-family: "Roboto", sans-serif;
}

main {
  width: 700px;
  max-width: 95%;
  margin: 0 auto;
}

nav {
  background-color: $light-gray;
  display: flex;
  justify-content: flex-end;
  a {
    padding: 20px;
    color: black;
    text-decoration: none;
    &:hover {
      background-color: $medium-gray;
    }
  }
  .current-page {
    background-color: $medium-gray;
  }
}

h1 {
  font-size: 2rem;
  margin: 1rem 0;
}

.post{
    width: 100%;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    // border: 1px solid #cccccc;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    a{
        font-weight: 700;
        margin-bottom: 10px;
        margin-right: 5px;
        display: inline-block;
    }
    span{
        color: #555;
    }
}

table, tr {
  width: 100%;
  a {
    visibility: hidden;
  }
}

tr {
  border-bottom: 1px solid $medium-gray;
  &:first-child, &:last-child {
    border: none;
  }
  &:hover {
    background-color: $light-gray;
    a {
      visibility: visible;
    }
  }
}

th {
  font-weight: 700;
  background-color: $medium-gray;
}

th, td {
  padding: 5px;
}

.id-column {
  width: 30px;
}

.name-column {
  width: 50%;
}

.add-link {
  & + table {
    margin-top: 20px;
  }
}